@import 'reset';
@import 'variables';

body {
  font: var(--font-m);
  color: var(--black-color);
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  font: var(--font-l);
  font-weight: normal;
  color: var(--black-color);
}
