:root {
  --font-family-main: 'Courier New', 'Times New Roman', serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 48px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
  --modal-z-index: 10;
  --overlay-color: rgb(0 0 0 / 60%);
  --red-light: red;
  --red-dark: rgb(159 3 3);
}

/* Palette */
$green-brand-color: #17c182;
$light-green-brand-color: #e3f7f0;
$white-color: #ffffff;
$black-color: #2d2d2d;
$dark-gray-color: #333333;
$transport-black-color: #1d1d1d;
$red-color: #ea3555;
$dark-red-color: #900000;
$gray-main-color: #f3f3f3;
$gray-green-color: #6b7b6d;
$platinum-grey-color: #e7eae9;
$lavender-grey-color: #ebe9f1;
$pearl-blackberry-color: #5e5873;
$pearl-dark-gray-color: #818181;
$mouse-gray-color: #656565;
$black-olive-color: #3b3b3b;
$black-semi-transparent-color: rgba(0, 0, 0, 0.5);
$white-aluminum-color: #acacac;
$light-gray-color: #d8dbd7;
$slate-gray-color: #374957;
$honeydew-color: #eeeeee;

/* Borders */
$light-grey-border: 1px solid $lavender-grey-color;
$green-brand-border: 1px solid $green-brand-color;
$red-border: 1px solid $red-color;
$pearl-dark-gray-border: 1px solid $pearl-dark-gray-color;
$gray-main-border: 1px solid $gray-main-color;

/* Transitions */
$transition-duration: 0.2s;

// z-index
$ui-index-1: 1; // main thread
$ui-index-2: 2; // main thread
$ui-index-3: 3; //for dropdown
$ui-index-4: 4; // for masks
$ui-index-5: 5; // for modals
$ui-index-6: 6; // other
$ui-index-7: 7; // other
