.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background: transparent;
  transition-duration: 0.2s;
  z-index: 5;

  &Active {
    background: var(--overlay-color);
  }
}

.modalContainer {
  @media (min-width: 1018px) {
    overflow: hidden;
    border-radius: 25px;
  }

  @media (max-width: 1017px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  background-color: var(--white-color);
  transition-duration: 0.2s;
  width: 430px;
  overscroll-behavior: none;

  @media (min-width: 1018px) {
    opacity: 0;
    padding: 32px;
    border-radius: 25px;
    position: relative;

    &Opened {
      opacity: 1;
    }
  }

  @media (max-width: 1017px) {
    max-height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 26px 24px 0px 0px;
    padding: 16px;
    transform: translateY(100%);

    &Opened {
      transform: translateY(0%);
    }
  }
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  color: var(--close-button-color);
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
