.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 20px;
  background-color: var(--header-bg-color);
  font: var(--font-l);
  color: var(--white-color);
}
