.table {
  width: 100%;
  border-collapse: collapse;

  &Head {
    width: 100%;
    border-bottom: 2px solid transparent;

    &Cell {
      color: var(--black-color);
      text-align: left;
      vertical-align: top;
      height: 3em;
      padding: 0 8px;
    }
  }

  &Body {
    width: 100%;

    &Row {
      border-top: 2px solid var(--gray-color);
      border-bottom: 2px solid var(--gray-color);

      &Empty {
        border-color: transparent;
      }
    }

    &Cell {
      padding: 16px 8px;
    }

    &Empty {
      width: 100%;
    }
  }
}
