.table {
  width: 100%;
  border-collapse: collapse;

  &Head {
    width: 100%;
    border-bottom: 2px solid var(--gray-color);

    &Cell {
      color: var(--black-color);
      text-align: left;
      vertical-align: top;
      padding: 5px;
    }
  }

  &Body {
    width: 100%;

    &Row {
      border-bottom: 1px solid var(--gray-color);
      position: relative;

      &Empty {
        border-bottom: 1px solid transparent;
      }
    }

    &Cell {
      padding: 5px;
    }

    &Empty {
      width: 100%;
    }
  }
}
