.label {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: var(--black-color);

  &Disabled {
    cursor: default;
  }
  width: fit-content;
}

.input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 21px;
  height: 21px;
  border: 1px solid var(--input-border-color);
  background-color: var(--white-color);
  border-radius: 3px;
  transition: background-color 0.2s;
  margin-right: 9px;
  flex-shrink: 0;
}

.icon {
  color: var(--white-color);
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}

.input:checked + .indicator {
  background: var(--input-border-color);

  .icon {
    opacity: 1;
  }
}

.input:disabled + .indicator {
  border-color: var(--black-color);
  cursor: default;
}

.input:checked:disabled + .indicator {
  background: var(--black-color);
}
